html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-bar {
  width: 100%;
  height: 3px;
  background-color: #d46184;
  margin: 3px 0;
  transition: all 0.3s;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #333;
  margin-top: auto;
  padding: 2px 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d46184;
  padding: 10px 0;
}

nav img {
  max-height: 90px;
  margin: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #d46184;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #925976;
}

h1,
h2,
h3,
h4,
p {
  margin: 10px 0;
  text-align: center;
  padding: 0 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

section {
  padding: 40px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#info,
#palvelut,
#galleria,
footer {
  background-color: #f1e8ef;
}

#info p,
#palvelut p,
#varaaAika p {
  text-align: justify;
  margin: 0 0 20px;
}

#info a {
  color: #d46184;
}

.info-div {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.info-img img {
  max-width: 300px;
  border-radius: 50%;
  margin: 20px;
}

.info-text {
  max-width: 500px;
}

.info-text a {
  color: #d46184;
  text-decoration: none;
}

.info-text a:hover {
  text-decoration: underline;
  color: #925976;
}

.info-text em {
  font-style: italic;
  font-weight: bold;
}

.info-text img {
  max-width: 100px;
  display: inline-block;
  vertical-align: text-top;
}

#palvelut em {
  font-weight: bold;
}

#palvelut .palvelu-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: left;
}

#varaaAika {
  text-align: center;
  background-color: #ffffff;
}

#varaaAika a {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 20px;
  background-color: #d46184;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#varaaAika a:hover {
  color: #925976;
}

#varaaAika img {
  max-width: 250px;
  height: auto;
  padding-top: 10px;
}

.galleria-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleria-img .img {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin: 15px;
}

.galleria-img img,
.galleria-img video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#yhteistiedot {
  background-color: #ffffff;
}

#yhteistiedot img {
  max-width: 150px;
  width: 100%;
  margin: 0 20px;
}

#yhteistiedot a {
  color: #d46184;
  text-decoration: none;
}

#yhteistiedot a:hover {
  text-decoration: underline;
  color: #925976;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
}

.content-info2 {
  max-width: 400px;
  text-align: center;
}

.content-info2 h1 {
  font-family: "Alex Brush", cursive;
  font-size: 3em;
  margin: 0;
}

.content-info2 p {
  font-size: 1em;
  color: #333;
  margin: 5px 0;
}

.fa {
  padding: 10px;
  font-size: 1.5em;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: #d46184;
}

.fa:hover {
  opacity: 0.7;
}

.google-map iframe {
  border: 0;
  width: 100%;
  max-width: 600px;
  height: 340px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) {
  nav li:last-child {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    display: none;
  }

  nav ul.show {
    display: flex;
  }

  .hamburger {
    order: 3;
    display: flex;
  }

  nav img {
    max-width: 200px;
    height: 80px;
    position: relative;
    transition: top 0.3s ease;
  }

  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: medium;
  }

  .info-content {
    flex-direction: column;
  }

  .info-div .info-img img {
    max-width: 150px;
    border-radius: 50%;
    margin: 10px;
  }

  .info-text img {
    max-width: 60px;
    margin: 10px;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .google-map iframe {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  nav ul {
    padding: 0;
  }

  nav li {
    margin: 5px 0;
  }

  .galleria-img .img {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
